.viewElement {
    margin: 10px auto;
    border-radius: 8px;
    border-color: orangered;
    color: orangered;
    background-color: palegreen;
    border-style: dotted;
    min-height: 50px;
}

.topBlock {
    display: flex;
    justify-content: center;
    align-items: center;

}


#button_count {
    margin: 0 auto;
    display: block;
}

#selectOperation {
    width: 18%;
}

.background {
    background-color: palegreen;
}

.sizeInput {
    width: 40%;
}


#prevRes {
    opacity: 0.4;
}