.viewElement{
    margin: 10px auto;
    border-radius: 8px;
    border-color: orangered;
    color: orangered;
    background-color: palegreen;
    border-style: dotted;
    min-height: 50px;
}

#button_count{
    margin: 0 auto;
    display: block;
}

.background{
    background-color: palegreen;
}

.size{
    width: 100%;
}